@charset "utf-8";

/* CSS Document */

body {
	font:76% Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	color:#000;
	background:#022725 url(images/ttw_top_bkg.png) repeat-x;
}

#container-outer {
	margin:0 auto;
	padding:0;
	width:900px;
}

#container-inner {
	margin:0;
	padding:10px;
}

#wrap {
	width: 800px;
	margin: 0 auto;
	background-color:#033;
}

/* nav1 */
ul#nav {
	width:880px;
	height:33px;
	margin:0;
	padding:0;
	background:#000;
	list-style-type: none;
}

ul#nav li {
	float: left;
	margin: 4px 1px 0 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
}

ul#nav a {
	float: left;
	display: block;
	margin: 0;
	padding: 4px 8px;
	color: #a5b946;
	text-decoration: none;
	border-bottom: none;
}

ul#nav a:hover, body#intro #t-intro a {
	color: #d8b838;
	padding-bottom: 5px;
	border-color: #727377;
}

/* topgallery */
ul#topgallery {
	width:880px;
	height:122px;
	margin:0;
	padding:0;
	background:#000;
	list-style-type: none;
}

ul#topgallery li {
	float: left;
	margin: 4px 1px 0 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
}

ul#topgallery a {
	float: left;
	display: block;
	margin: 0;
	padding: 4px 8px;
	color: #a5b946;
	text-decoration: none;
	border-bottom: none;
}

ul#nav a:hover, body#intro #t-intro a {
	color: #d8b838;
	padding-bottom: 5px;
	border-color: #727377;
}

/*header*/
#logo {
	margin-left:20px;
	padding-top:20px;
	float: left;
	width: 15%;
}

#headertitle {
	font-size: 12px;
	background-color: #105802;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	text-transform: uppercase;
	float: left;
	width: 60%;
	font-weight: bold;
}

#headersubtitle {
	text-align: center;
	background-color: #105802;
}

#header {
	height:150px;
	background-color: #105802;
	width: 100%;
}

#header-right {
	width: 20%;
	float: right;
}

.box3 {
	background-color: #FFC;
	height:400px
}

#content {
	margin:0 0 0 0;
	padding:0;
}

#content-body {
	width: 80%;
	text-align:left;
	margin: 0 30px;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:large;
}

.clr:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clr {
	display:inline-block;
}

#footer {
	clear:both;
}

/*dropdown/ navigation */
ul#navigation-1 {
	margin:0;
	list-style:none;
	width:880px;
	height:33px;
	padding:0;
	list-style-type: none;
	background:#300606;
}

ul#navigation-1 li {
	margin: 4px 1px 0 0;
	padding: 0;
	display:block;
	float:left;
	position:relative;
	width:148px;
	font-weight:bold
}

ul#navigation-1 li a:link, ul#navigation-1 li a:visited {
	float: left;
	padding:4px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#bb6101;
	width:148px;
	height:13px;
	border:solid #bb6101;
	border-bottom:none
}

ul#navigation-1 li:hover a, ul#navigation-1 li a:hover, ul#navigation-1 li a:active {
	padding:4px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	background:#391111;
	color:#f0b144;
	height:13px;
}


ul#navigation-1 li ul.navigation-2 {
	margin:5;
	padding:1px 1px 0;
	list-style:none;
	display:none;
	background:#300606;
	width:146px;
	position:absolute;
	top:21px;
	left:-1px;
}

ul#navigation-1 li:hover ul.navigation-2 {
	display:block;
	margin: 0 5px
}

ul#navigation-1 li ul.navigation-2 li {
	width:146px;
	clear:left;
	width:146px;
}

ul#navigation-1 li ul.navigation-2 li a:link, ul#navigation-1 li ul.navigation-2 li a:visited {
	clear:left;
	background:#300606;
	width:146px;
	border:none;
	border-bottom:0px solid #300606;
	position:relative;
	z-index:1000;
}

ul#navigation-1 li ul.navigation-2 li:hover a, ul#navigation-1 li ul.navigation-2 li a:active, ul#navigation-1 li ul.navigation-2 li a:hover {
	clear:left;
	background:#391111;
	padding:4px 0;
	width:146px;
	border:none;
	border-bottom:1px solid #300606;
	position:relative;
	z-index:1000;
}

ul#navigation-1 li ul.navigation-2 li a span {
	position:absolute;
	top:0;
	left:132px;
	font-size:12pt;
	color:#fe676f;
}

ul#navigation-1 li ul.navigation-2 li:hover a span, ul#navigation-1 li ul.navigation-2 li a:hover span {
	position:absolute;
	top:0;
	left:132px;
	font-size:12pt;
	color:#ff0000;
}
#gallery {
	width: 100%;
	background-color: #000;
}


.stepcarousel{
	position: relative;
	overflow: scroll; /*leave this value alone*/
	width: 85%; /*Width of Carousel Viewer itself*/
	height: 200px;
	text-align: center;
	;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
	float: left; /*leave this value alone*/
	overflow: hidden; /*margin around each panel*/
	width: 250px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	padding: 10px;
}
